<a
  class="btn btn-outline-secondary mb-3"
  [routerLink]="['/Configuration/Racks']"
  >Return To List</a
>
<form [formGroup]="rackForm" (ngSubmit)="submitForm()">
  <div>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input
        class="form-control"
        type="text"
        id="name"
        formControlName="name"
      />
      <span
        class="text-danger"
        *ngIf="rackForm.controls.name.errors?.['required']"
      >
        Name cannot be empty
      </span>
    </div>

    <div class="mb-3">
      <label class="form-label">Rows</label>
      <input
        class="form-control"
        type="number"
        id="rows"
        formControlName="rows"
      />
      <span
        class="text-danger"
        *ngIf="rackForm.controls.rows.errors?.['min'] || rackForm.controls.rows.errors?.['required']"
      >
        Rows cannot be less than 0.
      </span>
    </div>

    <div class="mb-3">
      <label class="form-label">Columns</label>
      <input
        class="form-control"
        type="number"
        id="columns"
        formControlName="columns"
      />
      <span
        class="text-danger"
        *ngIf="rackForm.controls.columns.errors?.['min'] || rackForm.controls.columns.errors?.['required'] "
      >
        Columns cannot be less than 0.
      </span>
    </div>

    <button type="submit" class="btn btn-outline-success m-3">Save</button>
  </div>
</form>
