<h3 class="col-12">Samples</h3>

@if(sampleList.length > 0){

<div class="">
  <h5 class="col-12">RackName: {{ rack.rackName }} Rack Id: {{ rack.id }}</h5>
</div>

<div class="row">
  <label class="mt-auto mb-auto col-2 form-label">Select Sample Type:</label>
  <select
    (change)="onSampleTypeSelect($event)"
    class="mt-auto mb-auto col-3 dropdown dropdown-header"
  >
    @for (sampleType of sampleTypesList; track $index) {
    <option [value]="sampleType.id">{{ sampleType.name }}</option>

    }
  </select>
</div>

<div class="">
  <table class="table table-hover align-middle text-center">
    <thead>
      <tr>
        <th scope="column"></th>
        <!-- TODO show after data retrieved -->
        <ng-container
          *ngFor="let _ of [].constructor(rack.numberOfColumns); let i = index"
        >
          @if (i+1 >= 1) {
          <th scope="column">{{ i + 1 }}</th>
          }
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="let _ of [].constructor(rack.numberOfRows); let r = index"
      >
        <tr>
          <th scope="row">{{ r + 1 }}</th>
          <ng-container
            *ngFor="
              let _ of [].constructor(rack.numberOfColumns);
              let c = index
            "
          >
            <th scope="column">
              <app-sample-textbox
                [sample]="getSampleFromList(c + 1, r + 1)"
                (edited)="onSampleEdit($event)"
              ></app-sample-textbox>
            </th>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
} @else{
<div class="row">
  <div class="spinner-border m-auto" role="status"></div>
</div>
}
