<div>
  <h3 class="mb-3">Rack Configuration</h3>

  <a
    class="mb-3 btn btn-outline-secondary"
    [routerLink]="['/Configuration/Racks/Create']"
    class="btn btn-outline-secondary"
  >
    Create New Rack</a
  >

  <table class="table table-hover align-middle text-center">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Rows</th>
      <th>Columns</th>
      <th>Edit</th>
    </tr>
    <tbody *ngFor="let rack of rackList">
      <tr>
        <td>{{ rack.id }}</td>
        <td>{{ rack.rackName }}</td>
        <td>{{ rack.numberOfRows }}</td>
        <td>{{ rack.numberOfColumns }}</td>
        <td>
          <a
            [routerLink]="['/Configuration/Racks/', rack.id]"
            class="btn btn-outline-secondary"
          >
            Edit
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
