<h3 class="mb-3">Rack Configuration</h3>

<button class="btn btn-outline-secondary">Create New Rack</button>
<div class="">
  <table class="table table-hover align-middle text-center">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Cols</th>
        <th scope="col">Rows</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>rack.Id</th>
        <td>rack.RackName</td>
        <td>rack.NumberOfColumns</td>
        <td>rack.NumberOfRows</td>
        <td>
          <button class="btn btn-outline-secondary">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
