/* You can add global styles to this file, and also import other style files */
.nav-link:hover {
  background: gray;
}
.nav-link {
  margin: 0%;
}

.active {
  background: gray;
}

.navbar {
  margin: 0%;
}
